/Ejercicios con vectores/nbproject/private/
/Ejercicios con vectores/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio 3/nbproject/private/
/Ejercicio 3/build/
/Ejercicio 4/nbproject/private/
/Ejercicio 4/build/
